﻿<!DOCTYPE html>
<html lang="en" style=" background-color: white !important">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - SawLuz</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body style ="border:none !important;">
        <div style="border:1px solid black; width:98%; height:30px; margin-top:20px; margin-left:1%">
        
            <div class="content-wrapper">
                
                    <div class="float-left">
                        <nav>
                            <ul id="menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Restaurantes", "Index", "Restaurantes")</li>
                                <li>@Html.ActionLink("Pratos", "Index", "Pratos")</li>
                            </ul>
                        </nav>
                    </div>
                
            </div>
            
            </div>
        <div>
            @RenderSection("featured", required: false)
            <section style="width:68%; margin:auto" >
                @RenderBody()
            </section>
        </div>
        

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>

    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>Fernando Paes</p>
                </div>
            </div>
        </footer>
</html>
