﻿@{
    ViewBag.Title = "Home Page";
}


            <img src="~/Content/themes/base/images/rest.png" style="display: block; margin-left: auto;margin-right: auto; margin-top:20px;" />
            <div style="text-align: center; margin-left: auto;margin-right: auto; margin-top:10px; margin-bottom: 10px">
                <h1>SISTEMA DE CADASTRO DE RESTAURANTES</h1>

            </div>
  
