﻿@model SawLuzProj.Models.Restaurantes

@{
    ViewBag.Title = "Delete";
}
<h2>Deletar Restaurantes</h2>
<br />
<h3>Tem Certeza que deseja excluir esse restaurante?</h3>
<br />
<fieldset style="border:1px solid black; margin-bottom:10px">
    <legend style="display:block">Dados</legend>
    <div style="margin-left:10px;margin-top:10px">
        <div class="editor-label">
            <div class="display-label" style="font-weight:bold">
                 @Html.DisplayName("Nome do Restaurante")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.NomeRestaurante)
            </div>  

            <p>
                @using (Html.BeginForm()) {
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "buttonCancel" })
                    <input type="submit" value="Excluir" class="buttonSave" />
                }
            </p>
        </div>
</fieldset>

