﻿@model SawLuzProj.Models.Restaurantes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Restaurantes</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NomeRestaurante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeRestaurante)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RestauranteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
