﻿@model SawLuzProj.Models.Restaurantes

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    
<h2>Editar Restaurantes</h2>
<br />
<br />
<fieldset style="border:1px solid black; margin-bottom:10px">
    <legend style="display:block">Dados</legend>
    <div style="margin-left:10px;margin-top:10px">
        @Html.HiddenFor(model => model.RestauranteId)

        <div class="editor-label" style="font-weight:bold">
            @Html.Label("Nome do Restaurante")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeRestaurante)
            @Html.ValidationMessageFor(model => model.NomeRestaurante)
        </div>

        <p>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "buttonCancel" })
            <input type="submit" value="Save" class="buttonSave" />
        </p>
    </div>
</fieldset>        
   
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
