﻿@model IEnumerable<SawLuzProj.Models.Restaurantes>

@{
    ViewBag.Title = "Index";
}

<h2>Restaurantes</h2>
<br />
<br />
<fieldset style="border:1px solid black; margin-bottom:10px">
    <legend style="display:block">Filtros</legend>
    <div style="margin-left:10px;margin-top:10px">
        <form asp-controller="Restaurantes" asp-action="Index">
            <p>
                <span style="margin-left:10px">Nome</span> <br /><input style="margin-left:10px" type="text" name="filtro" value="@ViewData["filtro"]" />
                <br /><br />
                <input type="submit" value="Pesquisar" class="buttonSearch" />
                @Html.ActionLink("Cadastrar novo restaurante", "Create", null, new { @class = "buttonCreate" })
            </p>
        </form>
        
    </div>
    
</fieldset>
<br />
<br />
        <table class="table_Color">
            <tr style="background:#b9b7b7">
                <th></th>
                <th></th>
                <th>
                    @Html.DisplayName("Restaurante")
                </th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id=item.RestauranteId }, new { @class = "imgDelete"})
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.RestauranteId }, new { @class = "imgEdit"})          
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeRestaurante)
                </td>
        
            </tr>
        }

        </table>
<br />
<br />
<br />
<br />