﻿@model SawLuzProj.Models.Pratos

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<h2>Cadastro Restaurantes</h2>
<br />
<br />
<fieldset style="border:1px solid black; margin-bottom:10px">
    <legend style="display:block">Dados</legend>
    <div style="margin-left:10px;margin-top:10px">
        <div class="editor-label">
            @Html.LabelFor(model => model.NomeRestaurante)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ddlRestaurantes", null, new { @class = "select" })
            @Html.ValidationMessageFor(model => model.NomeRestaurante)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.NomePrato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomePrato)
            @Html.ValidationMessageFor(model => model.NomePrato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Preco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Preco)
            @Html.ValidationMessageFor(model => model.Preco)
        </div>

        <p>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "buttonCancel" })
            <input type="submit" value="Salvar" class="buttonCreate" />
        </p>
    </div>
</fieldset>    
  
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
