﻿@model SawLuzProj.Models.Pratos

@{
    ViewBag.Title = "Delete";
}


<h2>Deletar Prato</h2>
<br />
<h3>Tem Certeza que deseja excluir esse prato?</h3>
<br />
<fieldset style="border:1px solid black; margin-bottom:10px">
    <legend style="display:block">Dados</legend>
    <div style="margin-left:10px;margin-top:10px">
        <div class="editor-label">
            <div class="display-label" style="font-weight:bold">
                @Html.DisplayName("Nome do Prato")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.NomePrato)
            </div>

            <div class="display-label" style="font-weight:bold">
                 @Html.DisplayName("Preço")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Preco)
            </div>
            
            <p>
                @using (Html.BeginForm()) {
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "buttonCancel" })
                    <input type="submit" value="Excluir" class="buttonSave" />
                }
            </p>
        </div>
    </div>
</fieldset>

