﻿@model SawLuzProj.Models.Pratos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Pratos</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NomePrato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomePrato)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Preco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Preco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RestauranteId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RestauranteId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PratoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
