﻿@model SawLuzProj.Models.Pratos

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<h2>Editar Pratos</h2>
<br />
<br />
<fieldset style="border:1px solid black; margin-bottom:10px">
    <legend style="display:block">Dados</legend>
    <div style="margin-left:10px;margin-top:10px">
         @Html.HiddenFor(model => model.PratoId)
         @Html.HiddenFor(model => model.RestauranteId)
         @Html.HiddenFor(model => model.NomeRestaurante)
        <div class="editor-label" style="font-weight:bold">
           @Html.Label("Nome do Prato")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomePrato)
            @Html.ValidationMessageFor(model => model.NomePrato)
        </div>
        <div class="editor-label">
            @Html.Label("Preço")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Preco)
            @Html.ValidationMessageFor(model => model.Preco)
        </div>
        <p>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "buttonCancel" })
            <input type="submit" value="Save" class="buttonSave" />
        </p>
    </div>
</fieldset>        
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
