﻿@model IEnumerable<SawLuzProj.Models.Pratos>

@{
    ViewBag.Title = "Index";
}

<h2>Pratos</h2>
<p>
    @Html.ActionLink("Cadastrar novo prato", "Create", null, new { @class = "buttonCreate" })
</p>
<table class="table_Color">
    <tr style="background:#b9b7b7">
        <th></th>
        <th></th>
        <th>
            @Html.DisplayName("Restaurante")
        </th>
        <th>
            @Html.DisplayName("Prato")
        </th>
        <th>
            @Html.DisplayName("Preço")
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.PratoId }, new { @class = "imgDelete"})
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PratoId }, new { @class = "imgEdit"}) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeRestaurante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomePrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        
        
    </tr>
}

</table>

<br />
<br />
<br />
<br />
